
*{
    margin: 0;
    padding: 0;
}

.background{
    width: auto;
    height: 750px;
    background-image: url(BG/corte_pc.png);
}

.divBG{
    display: flex;
    height: 100%;   
}

.cabecalho{
    background-color: #9b9b9b;
    width: auto;
    height: 150px;
    background-size: 100vw 100vh;
}

.navegacao{
    background-color: #fcdf00;
    background-size: 100vw 100vh;
    width: auto;
    height: 70px;
}

.rodape {
    background-color: #9b9b9b;
    height: 75px;
    position: relative;
    margin-top: -4px;
    clear: both;
}

.texto{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px; /*aqui pode movimentar a altura*/
    margin-left: -900px; /*movimento para direita ou esquerda*/
}

.botao-link {
    display: inline-block;
    width: 250px;
    height: 150px;
    background-image: url('imagens/botao-whatsapp.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

.posicao-botao-link{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 300px; /*aqui pode movimentar a altura*/
    margin-left: -50px; /*movimento para direita ou esquerda*/
  }

  .navegacao-link{
    text-align: center;
    font-size: 30px;
  }

 /*------------------------- Página serviço ---------------------*/

/*Essa parte ficou um pouco mais complexa, por isso se ficar alguma dúvida me mande uma mensagem.*/

 .background-servico{
    background-position: center; /*Com essa tag o background terá mais responsividade ao alterar sua dimensão*/
    width: auto;
    height: 740px !important; /*Essa tag prioriza esse elemento. Estava tendo problemas com o background e com essa tag consegui que ele aparecesse inteiro na tela.*/
    background-image: url(BG/BG_PC_servicos_corte.png);
 }

.divImgServicos{ /*Essa classe tem como objetivo deixar a div do mesmo tamanho da imagem do serviço para facilitar a manipulação*/
    height: auto; 
 }

 .imgServico{ /*Essa class posiciona a imagem na div*/
    padding-top: 180px;
    height: 25vw; /*Tamanho da imagem. (vw também é uma medida de tamanho reconhecida pelo html e é ótima para se trabalhar com responsividade).*/
 }

 .subtitulosServicos{  /*Essa class vai posiciona e modificar os subtítulos que são os nomes dos serviço*/
    padding-top: 10%; /*Posiciona na div*/
    padding-left: 15%; 
    color: #fcdf00;
    height: auto; /*É só para garantir que o altura do conteúdo seja correspondente ao da div*/
    width: 50%; /*Tamanho da largura do conteúdo. Caso você queira que alguma palavra vá para baixo de outra, tente diminuir esse valor.*/
    font-size: 90px;
    font-family: 'Satisfy', cursive; /*Fonte meramente ilustrativa, podendo sofrer modificação*/
    font-weight: normal; /*Retira o negrito do h1*/
}


.descricaoServicos{ /*Essa class vai posiciona e modificar as descrições dos serviços. (É bem parecido com a .subtitulosServicos)*/
    position: static;
    padding-left: 15% ;
    color: black;
    height: 50%;
    width: 30%;
    font-size: 60px;
    font-weight: normal;
    font-family: 'Satisfy', cursive;
}

.divServico{ /*Essa class modifica a div que contém tanto a imagem do serviço como as informações dele*/
    display: inline-flex; /*Com esse inline-flex no display eu garanto que ambas as div de imagem e informações fiquem uma ao lado da outra. */
}

.divTitulosServicos{ /*Essa class modifica a div das informações.*/
    width: 60vw; /*Com esse width conseguimos modificar a largura dela. Modificar essa tag também altera a distância entre as informações e a imagem.*/
}