
*{
    margin: 0;
    padding: 0;
}

.background{
    width: auto;
    height: 750px;
    background-image: url(BG/corte_pc.png);
}

.divBG{
    display: flex;
    height: 100%;   
}

.cabecalho{
    background-color: #9b9b9b;
    width: auto;
    height: 150px;
    background-size: 100vw 100vh;
}

.navegacao{
    background-color: #fcdf00;
    background-size: 100vw 100vh;
    width: auto;
    height: 70px;
}

.rodape {
    background-color: #9b9b9b;
    height: 75px;
    position: relative;
    margin-top: -4px;
    clear: both;
}

.texto{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px; /*aqui pode movimentar a altura*/
    margin-left: -500px; /*movimento para direita ou esquerda*/
}

.botao-link {
    display: inline-block;
    width: 250px;
    height: 150px;
    background-image: url('imagens/botao-whatsapp.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }

.posicao-botao-link{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 300px; /*aqui pode movimentar a altura*/
    margin-left: -50px; /*movimento para direita ou esquerda*/
  }

 /*------------------------- Página serviço ---------------------*/

 .background-servico{
    width: auto;
    height: 740px;
    background-image: url(BG/BG_PC_servicos_corte.png);
 }

 .img-servicos-tamanho{
    width: 600px;
    height: 600px;
 }

 .imagens-servicos{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: 250px; /*movimento para direita ou esquerda*/
 }

 #img-servico1{
    margin-top: -120px; /*aqui pode movimentar a altura*/
}

 #img-servico2{
    margin-top: 630px; 
 }

 #img-servico3{
    margin-top: 1350px; 
 }

 #img-servico4{
    margin-top: 2100px; 
 }

 #img-servico5{
    margin-top: 2830px; 
 }

 #img-servico6{
    margin-top: 3560px; 
 }

 #img-servico7{
    margin-top: 4300px; 
 }

 #img-servico8{
    margin-top: 5050px; 
 }

 #img-servico9{
    margin-top: 5800px; 
 }

 #img-servico10{
    margin-top: 6530px; 
 }
